/* Structure*/
:root{
    --primary-color:#f29188;
   --secondary-color:#f5b894;
   --background-color:#8c617d;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background:url ('images/backgrounda.jpg') ;
    background-size:100%


}
/* Navagation*/
#main-nav ul{
    padding-left:0;
}
#main-nav li {
    list-style-type:none;
    display: inline-block;
    background:var(--background-color)
    padding: 10px;
    border-raduis: 2px;

}

#main-header {
    background:var(--secondary-color);
    padding: 10px;
}
#main-nav a{
    color:red;
    text-decoration: none;
}


/* Typography */
h1{
    color:var(--primary-color);
}
strong{
    background: yellow;
    
}
/* Images */
img {
    border:2px solid pink;
}

#context {
    background: rgba(255,255,255,0.8);
    width:70%
    margin:auto; /*Centering*?
    border-radius: 5px 50px 50px 0 px; /* Round corners */
    padding: 10px 20px;
    box-shadow: 10px 10px orange;
}

#main-header, #main-footer{
    background: 
}

/* Tables*/
#about-table{
    border-collapse: collapse;
}
#about-table th, #about-table td{
    border:1px solid pink;

}
#about-table th {
    background-color:var(--background-color);
    color:white;
}
